body {
  margin-top: 1.0em;
  background-color: silver;
  font-family: Helvetica, Arial, FreeSans, san-serif;
  font-family: 'Molengo', serif;
  color: #444;
}
#container {
  margin: 0 auto;
  width: 700px;
}
h1 { font-size: 5.8em; 
     color: #40484f; 
     margin-bottom: 0px; 
     font-family: 'Yanone Kaffeesatz', serif;
     font-weight: 400;
     font-style: normal;
     text-shadow: 1px 1px 1px #fff;
     letter-spacing: -0.03em;
     margin-top: -0.1em;
   }
h1 .small { font-size: 0.2em; text-shadow: none; letter-spacing: 0;}
h1 a { text-decoration: none; color: #40484f;  }
h2 { font-size: 1.2em; color: #40484f; text-shadow: 1px 1px 0px #ddd;}
h2 a {text-decoration: none;}
h3 { text-align: center; color: #40484f; }
a { color: #CE534D; }
p {line-height: 0.4; font-size: 0.85em;}
.description {
  font-family: 'Molengo', serif;
  padding-bottom: 10px;
  color: #CE534D;
  font-size: 1em;
  margin-bottom: 0px;
  margin-top: -20px;
  text-shadow: 1px 1px 2px #EEE;
}
.download { float: right; }
pre { 
  font-family: 'Inconsolata', serif;
  margin: 5px 0 20px 20px;
  background: #222; 
  color: #fff; 
  padding: 15px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: inset -1px 2px 2px black;
  -webkit-box-shadow: inset -1px 2px 2px black;
  box-shadow: inset -1px 2px 2px black;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 1);
}
hr { border: 0; width: 80%; border-bottom: 1px solid #aaa}
.footer { text-align:center; padding-top:0px; font-style: italic; }
#headerhr {margin-bottom: 15px;}
